h1, h2 {
    text-align: center;
}
.take-move-button {
    width: 50px;
    margin-bottom: 1rem;
}
.token-space-container {
    /* display: inline-block; */

    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.token-space {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 100px solid blue;
    transform: translate(-50%, -50%);
}

.token-red {
    background-color: red;
}
.token-yellow {
    background-color: yellow;
}

.row {
    display: flex;
    /* justify-content: center; */
}

.board {
    width: 350px;
    margin: auto;
}

.down-arrow {
    font-size: 2rem;
}

.new-game-button {
    
    display: block;
    margin: 1rem auto;
}